$delay: 0.5s;

header {
    width: 100%;
    height: 100vh;
    p {
        color: #ffffff;
        font-size: 18px;
    }
}

.hero-text {
    color: #000000;
    max-width: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 100px;
    padding-top: 20%;
    h1 {
        letter-spacing: 10px;
        font-size: 62px !important;
        font-family: 'avenir-heavy';
    }
}

#htext {
    transition: opacity $delay;
}

#hero-image {
    float: right;
    background-image: url('../images/beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition-property: width, background-position;
    transition-duration: 0.5s;
    transition-delay: $delay;
}